<h1>Dashboard</h1>
<%= render 'shared/alerts' %>
<ul class="list-group list-group-flush mb-4">
  <li class="list-group-item">
    <strong>[Logado]</strong>
    <% if user_signed_in? %>
      <%= render 'shared/dashboard_cards' , user: current_user.email, livres: @livres, ocupadas: @ocupadas, total: @veiculos
        %>
    <% else %>
      <span class="text-danger">[Não logado]</span>
    <% end %>
  </li>
</ul>
