<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Placa:</strong>
    <%= veiculo.placa %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= veiculo.modelo %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= veiculo.cliente_id %>
  </p>

</div>
