<%= render 'shared/alerts' %>

 <% content_for :title, "Veículos" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Veículos</h1>
  <%= link_to "Novo Veículo" , new_veiculo_path, class: "btn btn-primary" %>
</div>

<%= render 'veiculos/table' , veiculos: @veiculos %>