<%= render 'shared/alerts' %>

<% content_for :title, "Vagas" %>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Vagas</h1>
    <%= link_to "Nova Vaga" , new_vaga_path, class: "btn btn-primary" %>
  </div>

<%= render 'vagas/table' , vagas: @vagas %>