<% content_for :title, "Editing movimento" %>

<h1>Editing movimento</h1>

<%= render "form", movimento: @movimento %>

<br>

<div>
  <%= link_to "Show this movimento", @movimento %> |
  <%= link_to "Back to movimentos", movimentos_path %>
</div>
